:root {
  --shadow: rgba(0, 0, 0, 0.75);
}  

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  font-family: 'lato',sans-serif;
  background-image: linear-gradient(#851835, #851835, #000000, #000000);
  color: white;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**** Now PRO ****/

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 24px;
}

.hero-img {
  border-radius: 50%;
  border: 2px solid var(--pine);
  box-shadow: 8px 16px 32px 0px var(--shadow);
  height: 300px;
  margin-bottom: 32px;
  overflow: hidden;
  width: 300px;
}

img {
  display: block;
  max-height: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  margin-top: 16px;
  text-align: center;
  width: 80%;
}

.hero ul {
  padding: 0;
  text-align: center;
}

.hero li {
  display: block;
  margin-bottom: 8px;
}

a {
  color: white;
  text-decoration:none;
}


a:visited {
  color: white;
}





@media screen and (min-width: 738px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero ul {
    display: flex;
    justify-content: space-evenly;
    width: 582px;
  }

  h2 {
    width: 582px;
  }
}