@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap');

:root {
  --shadow: rgba(0, 0, 0, 0.75);
  --saria: 'Saira', sans-serif;
}  

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  font-family: var(--saria);
  background: linear-gradient(#851835, #851835, #000000, #000000);
  color: white;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/**** Now PRO ****/

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 14px;
}

.hero-img {
  border-radius: 50%;
  border: 2px solid var(--pine);
  box-shadow: 8px 16px 32px 0px var(--shadow);
  height: 300px;
  margin-bottom: 32px;
  overflow: hidden;
  width: 300px;
}

img {
  display: block;
  max-height: 100%;
}

h1 {
  line-height: 1.2em;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: 1.125em;
  margin-top: 20px;
  text-align: center;
  width: 80%;

}

.hero ul {
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.hero li {
  display: block;
  margin-bottom: 8px;
}

a {
  color: white;
  text-decoration:none;

  font-weight: 600;
  font-size: 1.1em;
}


a:visited {
  color: white;
}





@media screen and (min-width: 738px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero ul {
    display: flex;
    justify-content: space-evenly;
    width: 582px;
  }

  p {
    width: 582px;
  }
}